.answer-show {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.answer-show > p {
    display: flex;
    align-items: center;
}

.list-avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
}